* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f7fb;
    color: #29293d;
}


/* =========================
   APP
========================= */

.app {
    display: flex;
    min-height: 100vh;
}


/* =========================
   SIDEBAR
========================= */

.sidebar {
    width: 190px;
    min-height: 100vh;

    background: white;

    border-right: 1px solid #e7e7ee;

    padding: 22px 12px;
}


/* LOGO */

.logo {
    display: flex;
    align-items: center;

    gap: 8px;

    font-size: 19px;
    font-weight: bold;

    padding: 0 12px 25px;
}


/* NAVIGATION */

nav {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

nav a {
    display: flex;
    align-items: center;

    gap: 12px;

    padding: 10px 13px;

    border-radius: 7px;

    text-decoration: none;

    color: #45455b;

    font-size: 12px;
}